<% content_for :title, "Editing opinion column" %>

<h1>Editing opinion column</h1>

<%= render "form", opinion_column: @opinion_column %>

<br>

<div>
  <%= link_to "Show this opinion column", @opinion_column %> |
  <%= link_to "Back to opinion columns", opinion_columns_path %>
</div>
